body {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.magnificent{
  background-image: url(../assets/backgrounds/h_img.jpg);
  height: 770px;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}
.mega-text{
  margin-top: 80px;
}
.mega-text h1{
  font-size: 50px;
}
.mega-text img{
  padding: 95px;
}
img {
  max-width: 100%;
  height: auto;
}
#mouse-click {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}
.rider{
  background-image: url(../assets/backgrounds/s_image.jpg);
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}
.mini {
  padding: 100px;
}
.design-text {
  display: none;
}

.development-text {
  display: none;
}

.product-text {
  display: none;
}
.area-portfolio {
  padding-top: 10px;
  margin: 100px;
}

.content-body {
  justify-content: center;
  padding: 1px;
}
.contact-sec {
  padding: 100px;
  height: 600px;
  background-image: url(../assets/backgrounds/c_image.jpg);
  color: rgb(250, 250, 250);
  background-position: center;
  background-size: cover;
  background-repeat: no-
}
.form-inline {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.form-controlA{
  background: transparent;
  border-color: white;
  color:white;
  width: 60%;
  margin-left: 40%;
  padding-bottom: 10px;
}
.form-controlB{
  background: transparent;
  border-color: white;
  color:white;
  width: 60%;
  padding-bottom: 10px;
}
.form-controlE{
  background: transparent;
  border-color: white;
  color:white;
  width: 60%;
  padding-bottom: 20px;
}
.sr-only {
  color: rgb(255, 255, 255);
}
.footer-sec {
  padding: 100px;
}

.social-ul {
  height: 50px;
  text-align: center;
  padding-left: 0;
  padding: 50px;
}

.social-li {
  padding: 10px;
  display: inline-block;
  list-style: none;
} 
.row{
  padding: 50;
}
.content-header{
    font-weight: bold;
    padding: 30px;
}
.port-text {
  color: rgb(126, 119, 119);
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.col-md-3:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}
